.name-card {
  justify-content: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4e6d4b;
  margin: 5rem auto;
  width: 35rem;
  max-width: 90%;
}

.name-card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-card label {
  color: #fff;
}

.name-card input {
  color: #2b2d2f;
}
